.header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  outline: 1px dashed #2389fc;
  position: relative;
}

.header__logo {
  margin-left: calc(50% - 51px);
}

.header__main-nav {
  margin: 17px 0;
}

.main-nav__wrapper {
  display: none;
  position: absolute;
}
