.page {
  height: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
}

.page__main {
  flex-grow: 1;
}

.page__header {
  color: #000000;
}

.page__footer {
  color: #000000;
}
