*,
*::before,
*::after {
  box-sizing: border-box;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  margin: 0;
  border: none;
  background-color: inherit;
}
img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  display: block;
}
a {
  text-decoration: none;
  color: initial;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
span,
b,
li {
  margin: 0;
  padding: 0;
}
/* menu mob */
/* главное меню nain-menu-color*/
/* кнопки фон и текст */
/* поля формы */
/* логотип htmlAcademy */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
/* начало */
.page {
  height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
}
.page__body {
  min-height: 100%;
  margin: 0 auto;
}
.page__header {
  color: #000000;
}
.page__main {
  flex-grow: 1;
}
.page__footer {
  color: #000000;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  height: 56px;
  width: 100%;
  padding: 0 20px;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  position: relative;
}
.header__logo {
  width: 102px;
  grid-column: 2 / 3;
}
.header__main-nav {
  justify-self: end;
}
.main-nav__button {
  padding: 17px 0;
}
.main-nav__button :hover path {
  fill: #81b3d299;
}
.main-nav__button :active path {
  fill: #81b3d24c;
}
.main-nav__button:focus + .main-nav__wrapper {
  display: block;
}
.main-nav__wrapper {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.menu-list__item {
  width: 320px;
  height: 55px;
  padding: 15px 10% 0;
  background-color: #81b3d2;
  box-shadow: 0 1px 0 0 #01010133, 0 1px 0 0 #ffffff33 inset;
}
.menu-list__link {
  color: #ffffff;
}
.menu-list__link:hover {
  color: #ffffff99;
}
.menu-list__link:active {
  color: #ffffff4c;
}
.menu-list__item-svg {
  position: absolute;
  box-sizing: content-box;
  top: 15px;
  right: 20px;
  cursor: pointer;
  padding: 5px;
}
.menu-list__item-svg:hover path {
  fill: #ffffff99;
}
.menu-list__item-svg:active path {
  fill: #ffffff4c;
}
.main {
  font: inherit;
}
.main__big-banner {
  width: 100%;
  height: 389px;
  background: url("../img/welcome.svg") 50% 90px no-repeat, url("../img/to-the-gorgeous.svg") 50% 120px no-repeat, url("../img/sedona.svg") center no-repeat, url("../img/because-the-grand-canyon-sucks.svg") 50% 75% no-repeat, url("../img/intro-triangle.svg") bottom no-repeat, url("../img/photo/back-mobile.jpg") center no-repeat;
  background-color: #81b3d2;
}
.main__banner {
  width: 100%;
  height: 214px;
  background: url("../img/sedona.svg") center no-repeat, url("../img/intro-triangle.svg") bottom no-repeat, url("../img/photo/back-mobile-2.jpg") center no-repeat;
  background-color: #81b3d2;
}
.main__haed {
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.main__text {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 26px;
}
.card {
  text-align: left;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.card__b {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.card__p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}
.card__em {
  padding: 10px 0 15px 35px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
  background-image: url("../img/icon/like-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 8px;
}
.main__video {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.main__video b {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.main__video p {
  margin: 30px 0;
  font-size: 14px;
  line-height: 24px;
}
.advantage {
  font: inherit;
}
.advantage__n--1 .advantage__intro {
  padding-top: 40px;
  height: 230px;
  background: url("../img/intro-triangle-2.svg") top no-repeat;
  background-color: #81b3d2;
  color: #ffffff;
}
.advantage__n--2 .advantage__intro {
  height: 190px;
  background-color: #81b3d2;
  color: #ffffff;
}
.advantage__n--3 .advantage__intro,
.advantage__n--4 .advantage__intro,
.advantage__n--5 .advantage__intro {
  height: 190px;
  background-color: #eeeeee;
}
.advantage__intro {
  padding: 0 20px;
}
.advantage__intro h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.advantage__intro b,
.advantage__intro p {
  font-size: 14px;
  line-height: 26px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.advantage__item {
  text-align: left;
  padding-top: 10px;
}
.advantage__item h3 {
  margin: 25px 20px 0 70px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.advantage__item p {
  margin: 15px 20px 0 70px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.advantage__item--hous {
  padding-top: 10px;
  background-image: url("../img/pict/icon-house.svg");
  background-position: 20px 30px;
  background-repeat: no-repeat;
}
.advantage__item--gift {
  background-image: url("../img/pict/icon-gift.svg");
  background-position: 25px 20px;
  background-repeat: no-repeat;
}
.advantage__item--food {
  background-image: url("../img/pict/icon-burger.svg");
  background-position: 20px 30px;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}
.advantage__query {
  padding: 35px 20px 50px 20px;
}
.advantage__query-head {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.advantage__query-text {
  margin: 30px 0;
  font-size: 14px;
  line-height: 24px;
}
.advantage__query-button {
  width: 100%;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
}
.advantage__query-button:hover {
  background-color: #669ec0;
  color: #ffffff;
}
.advantage__query-button:active {
  background-color: #5496bd;
  color: #ffffff4c;
}
.advantage__map {
  position: relative;
}
.advantage__map svg {
  position: absolute;
  top: 50%;
  left: 45%;
}
.footer {
  display: flex;
  flex-direction: column;
}
.footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 30px;
}
.footer__list {
  margin: 35px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}
.footer__item {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  padding-top: 12px;
}
.footer__item:hover {
  background-color: #669ec0;
}
.footer__item:focus-within,
.footer__item:active {
  background-color: #5496bd;
}
.footer__item:focus-within svg path,
.footer__item:active svg path {
  fill: #ffffff4c;
}
.footer__item:focus-within a,
.footer__item:active a {
  outline: none;
}
.footer__link {
  padding: 25%;
}
.footer__copyright {
  display: flex;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 26px;
}
.footer__copyright b {
  padding: 0 20px;
}
.footer__copyright-svg:hover path {
  fill: #81b3d2;
}
.footer__copyright-svg:active path {
  fill: #0000004c;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
